@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "lato";
}
body {
  background: #fafafa;
}
.container {
  display: flex;
}
ul {
  list-style: none;
  padding-left: 0;
}
nav {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 215px;
  left: 0;
  background: #fff;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
nav ul {
  padding: 17px 24px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo span {
  font-weight: bold;
  font-size: 18px;
  flex: 1;
}
a {
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  display: table;
  /* width: 200px; */
  padding: 10px;
}
/* nav .fa-solid 
{
    position: relative;
    width: 70px;
    height: 40px;
    top:14px;
    font-size: 20px;
    text-align: center;
} */

.fa-regular {
  height: 20px;
  width: 20px;
}

.nav-item {
  font-family: "lato";
  font-weight: 600;
  font-size: 14px;
  color: #808191;
}
#dashlogo {
  color: #475be8;
  transform: translateX(-15px);
}

/* #set {
  position: relative;
  bottom: 3px;
  left: 15px;
}  */

/* .iconwa {
  transform: translate(40px, -6px);
} */
#house {
  transform: translateX(-12px);
  position: relative;
  top: 3px;
}
.icon {
  color: #808191;
}

a:hover {
  background: #eee;
}

.transaction {
  display: flex;
  gap: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
.transaction-active {
  background: #475be8 !important;
  color: white !important;
  border-radius: 12px;
}

.setting {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
}

.transaction:hover {
  background: #475be8 !important;
  color: white !important;
  border-radius: 12px;
}
.transaction:hover.transaction > .nav-item,
.transaction-active.transaction > .nav-item {
  color: white !important;
}

.transaction:hover .icon,
.transaction-active .icon {
  color: white !important;
}
.setting:hover .icon,
.logout:hover .icon {
  color: white !important;
}

.transaction:hover span,
.setting:hover span,
.logout:hover span {
  color: #fff;
}

#newproduct {
  background-color: #475be8;
  color: white;
}

.logout {
  display: flex;
  padding: 10px;
}
.logout {
  position: absolute;
  bottom: 5px;
  color: #808191;
  gap: 8px;
  width: 75%;
}

.logout:hover {
  color: white;
  background-color: #475be8;
  border-radius: 12px;
}
.setting {
  position: absolute;
  bottom: 40px;
  color: #808191;
  gap: 8px;
  width: 75%;
}
.setting:hover {
  color: white !important;
  background: #475be8 !important;
  border-radius: 12px;
}
.setting:hover.setting > .nav-item {
  color: white !important;
}
.main {
  position: absolute;
  height: fit-content;
  margin-left: 17%;
  top: 44px;
}
.main-top h1 {
  font-size: 22px;
  font-weight: 700;
  color: #292929;
  font-family: "Lato";
}
.main-top {
  transform: translateX(35%);
}
.main-top1 {
  transform: translateX(2%);
}

.main1 {
  position: absolute;
  margin-top: 40px;
  width: 81%;
  height: 30px;
  margin-left: 17%;
}
.main-top1 h1 {
  font-size: 22px;
  font-weight: 700;
  padding-top: 10px;
  color: #292929;
  font-family: "Lato";
}
.main2 {
  position: absolute;
  margin-top: 40px;
  width: 81%;
  height: 30px;
  margin-left: 17%;
}
.main-top2 h1 {
  font-size: 22px;
  font-weight: 700;
  padding-top: 10px;
  color: #292929;
  font-family: "Lato";
}
.main-top2 {
  transform: translateX(2%);
}
.main3 {
  position: absolute;
  margin-top: 38px;
  width: 82%;
  height: 30px;
  margin-left: 16%;
}
.main-top3 h1 {
  font-size: 22px;
  font-weight: 700;
  padding-top: 10px;
  font-family: "Lato";
  color: #292929;
  margin-left: 4%;
}
.cardcontainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 1%;
}
.cardcontainer .card1 {
  width: 270px;
  height: 120px;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  transform: translateX(8%);
}
.cardcontainer .card2 {
  width: 270px;
  height: 120px;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  transform: translateX(12%);
}
.cardcontainer .card3 {
  width: 270px;
  height: 120px;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  transform: translateX(16%);
}
.cardcontainer .card4 {
  width: 270px;
  height: 120px;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  transform: translateX(20%);
}
.graph {
  float: right;
  transform: translateY(-75px);
}
.cardcontainer .card1 p {
  padding-top: 8px;
  color: #525252;
  font-size: 14px;
  font-weight: 700;
}
.cardcontainer .card2 p {
  padding-top: 8px;
  color: #525252;
  font-size: 14px;
  font-weight: 700;
}
.cardcontainer .card3 p {
  padding-top: 8px;
  color: #525252;
  font-size: 14px;
  font-weight: 700;
}
.cardcontainer .card4 p {
  padding-top: 8px;
  color: #525252;
  font-size: 14px;
  font-weight: 700;
}
#amount {
  font-size: 24px;
  font-weight: 700;
}

.bagraph {
  display: flex;
}

.latestorder1 {
  width: fit-content;
  margin-top: 2%;
  margin-left: 1%;
}
.latestorder p {
  font-family: "Lato";
}
.latestorderborder {
  border-color: #eaecf0;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 1px 0px 1px 0px;
  transform: translatey(15px);
  width: 1080px;
}
.latestorderborder1 {
  border-color: #eaecf0;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 1px 0px 1px 0px;
  transform: translatey(28px);
  width: 1080px;
}
.latestorder1 p {
  color: #292929;
  font-weight: 700;
  font-size: 16px;
  font-family: "Lato";
  transform: translateY(15px);
}

.main-body {
  margin-top: 111px;
  margin-left: 235px;
  margin-bottom: 1%;
  width: 1667px;
  height: 817px;
  background: #fff;
}
.main-body1 {
  margin-top: 111px;
  margin-left: 235px;
  margin-bottom: 1%;
  width: 1100px;
  height: 801px;
  background: #fff;
  /* display: none; */
  /* overflow: scroll; */
}
.main-body2 {
  margin-top: 111px;
  margin-left: 235px;
  margin-bottom: 1%;
  width: 1667px;
  height: 120%;
  background: #fff;
}
.main-body3 {
  background: #fff;
  position: absolute;
  top: 430px;
  left: 30px;
  width: 98%;
  height: 450px;
}

.anchortag {
  display: flex;
  padding: 10px;
  width: 486px;
  margin-top: 1%;
  text-align: center;
}

.anchortag :hover {
  color: #475be8 !important;
  background-color: #eff1ff !important ;
  border-radius: 4px;
}
#pro {
  color: #475be8;
  background: #eee;
  font-family: "lato";
  font-weight: 500;
  font-size: 18px;
  padding: 10px;
  margin-right: 6px;
  border-radius: 4px;
}
#pass,
#secur,
#notify {
  font-family: "lato";
  font-weight: 500;
  font-size: 18px;
  margin-right: 6px;
}

#psw {
  font-size: 20px;
  margin-left: 2%;
  margin-top: 1%;
  font-family: "Lato";
  font-weight: 700;
  line-height: 26.38px;
  width: 86px;
  color: #292929;
}
#psw1 {
  font-size: 20px;
  margin-top: 1%;
  margin-left: 2%;
  font-weight: 700;
  line-height: 26.38px;
  font-family: "Lato";
  width: 86px;
  color: #292929;
}
#pro:hover {
  background-color: #eee;
}
#passwordprofile {
  margin-top: 2%;
  margin-left: 1%;
  height: 50%;
  width: 98%;
}
#profileform {
  margin-top: 2%;
  margin-left: 1%;
  height: 70%;
  width: 98%;
}

#newpassword {
  margin-top: 4%;
}
#repeatnewpassword {
  margin-top: 4%;
}
#pnewpassword {
  margin-top: 4%;
}

#prepeatnewpassword {
  margin-top: 4%;
}
#ptele {
  margin-top: 4%;
}
#pregion {
  margin-top: 4%;
}
#pimage {
  transform: translateX(-290%);
}
#first {
  width: 210px;
  font-family: "Lato";
  height: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  margin-top: 1%;
  margin-left: 12px;
}

#second {
  width: 210px;
  font-family: "Lato";
  height: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  margin-top: 4%;
  margin-left: 12px;
}
#third {
  width: 210px;
  font-family: "Lato";
  height: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  margin-top: 4%;
  margin-left: 12px;
}
#pfirst {
  width: 210px;
  font-family: "Lato";
  height: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  margin-top: 1%;
  margin-left: 12px;
}

#psecond {
  width: 210px;
  height: 19px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  margin-top: 4%;
  line-height: 19.2px;
  margin-left: 12px;
}
#pthird {
  width: 210px;
  height: 19px;
  font-weight: 400;
  font-family: "Lato";
  font-size: 16px;
  margin-top: 4%;
  line-height: 19.2px;
  margin-left: 12px;
}
#pfourth {
  width: 210px;
  height: 19px;
  font-weight: 400;
  font-family: "Lato";
  font-size: 16px;
  margin-top: 4%;
  line-height: 19.2px;
  margin-left: 12px;
}
#pfifth {
  width: 210px;
  height: 19px;
  font-weight: 400;
  font-family: "Lato";
  font-size: 16px;
  margin-top: 4%;
  line-height: 19.2px;
  margin-left: 12px;
}
#psixth {
  width: 210px;
  height: 19px;
  font-weight: 400;
  font-size: 16px;
  font-family: "Lato";
  margin-top: 2%;
  line-height: 19.2px;
  margin-left: 12px;
}
img {
  border-radius: 60%;
}

input[type="password"] {
  border: 1px solid #c3c6d1;
  border-radius: 6px;
}
input[type="text"] {
  border: 1px solid #c3c6d1;
  border-radius: 6px;
  padding-left: 18px;
}
input[type="email"] {
  border: 1px solid #c3c6d1;
  border-radius: 6px;
}
input[type="tel"] {
  border: 1px solid #c3c6d1;
  border-radius: 6px;
}
input[type="text-area"] {
  border: 1px solid #c3c6d1;
  border-radius: 6px;
  height: 100px;
  width: 500px;
  padding-left: 18px;
}
input[type="text-area"]::placeholder {
  position: absolute;
}
input[type="text"]::placeholder {
  position: absolute;
}
#productname {
  margin-top: 2%;
  width: 500px;
  height: 30px;
}
#name {
  font-weight: 400;
  font-size: 16px;
  font-family: "Lato";
  margin-top: 4%;
  color: #000000;
}
#des {
  font-weight: 400;
  font-size: 16px;
  font-family: "Lato";
  margin-top: 5%;
  color: #000000;
}
#short {
  font-weight: 400;
  font-size: 16px;
  font-family: "Lato";
  margin-top: 6%;
  color: #000000;
}
#textarea1 {
  height: 60px;
  margin-top: 1%;
}
#textarea {
  margin-top: 1%;
}
#price {
  font-weight: 700;
  font-size: 20px;
  font-family: "Lato";
  color: #292929;
  margin-top: 4%;
  margin-left: 2%;
  width: fit-content;
}
.pricing {
  display: flex;
  gap: 2%;
  width: 48%;
  margin-top: 2%;
  margin-left: 2%;

  height: 10%;
}
#productprice {
  height: 30px;
  width: 260px;
  margin-top: 2%;
}
#subpr,
#oldpr {
  font-weight: 400;
  font-size: 16px;
  font-family: "Lato";
  color: #000000;
}
.invent {
  display: flex;
  gap: 2%;
  width: 48%;
  margin-top: 2%;
  margin-left: 2%;
  height: 10%;
}
#sku {
  font-weight: 400;
  font-size: 16px;
  font-family: "Lato";
  color: #000000;
}
#sku1 {
  font-weight: 400;
  font-size: 16px;
  font-family: "Lato";
  color: #000000;
  transform: translateX(20%);
}

.imagecontainer {
  width: 49%;
  margin-left: 2%;
}
.alt_text {
  transform: translateX(10%);
}

.phoneimage {
  display: flex;
  gap: 5%;
  width: 48%;
  margin-top: 2%;
  height: 10%;
}
.phoneimage1 {
  display: flex;
  gap: 5%;
  width: 48%;
  margin-top: 1%;
  height: 10%;
}
#ordernum {
  height: 30px;
  width: 140px;
  margin-top: 3%;
  margin-left: 20%;
}
#img1 {
  font-weight: 400;
  font-size: 16px;
  font-family: "Lato";
  color: #000000;
}
#myfile:hover {
  background: transparent;
}
.searchenginecontainer {
  display: flex;
  flex-direction: column;
  width: 49%;
  margin-left: 2%;
}
.pagetitle {
  margin-top: 4%;
}
#productprice1 {
  height: 30px;
  width: 245px;
  margin-top: 1%;
}
#productprice2 {
  height: 30px;
  width: 500px;
  margin-top: 1%;
}
.metades {
  margin-top: 4%;
}

.input-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.input-container1 {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.input-container2 {
  display: flex;
  gap: 25%;
  width: 60%;
  margin-top: 1%;
}
.input-wrapper {
  position: relative;
}

.input-wrapper input {
  padding: 14px 20px 14px 20px;
  height: 47px;
  width: 400px;
  gap: 10px;
  border-radius: 6px;
}

.eye {
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-30%);
  cursor: pointer;
}
.eye1 {
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(19%);
  cursor: pointer;
}
.eye2 {
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(20%);
  cursor: pointer;
}

input[type="submit"] {
  border: 1px solid #c3c6d1;
  margin-top: 3%;
  height: 41px;
  width: 113px;
  border-radius: 6px;
  background-color: white;
  padding: 10px 40px;
}
input[type="submit"] {
  border: 1px solid #c3c6d1;
  margin-top: 3%;
  height: 41px;
  width: 113px;
  border-radius: 6px;
  background-color: white;
  padding: 10px 40px;
}

#cancel {
  padding: 1px;
  font-family: "lato";
}

#save:hover {
  background-color: #475be8;
  color: white;
}
#save {
  background-color: #475be8;
  color: white;
  font-family: "lato";
}

#save1:hover {
  background-color: #475be8;
  color: white;
}
#save1 {
  background-color: #475be8;
  color: white;
  font-family: "lato";
}
#cancel1 {
  padding: 1px;
  font-family: "lato";
}
#cancel2 {
  margin-left: 24%;
  padding: 1px;
  font-family: "lato";
}
#save2 {
  margin-left: 1%;
  background-color: #475be8;
  color: white;
  font-family: "lato";
}

#save2:hover {
  background-color: #475be8;
  color: white;
}

#newproduct {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #475be8;
  color: white;
  font-family: "lato";
  border: 1px solid #c3c6d1;
  width: 113px;
  height: 41px;
  gap: 23px;
  border-radius: 6px;
  padding: 10px 10px 0px 14px;
}
#newproducts {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #475be8;
  color: white;
  font-family: "lato";
  border: 1px solid #c3c6d1;
  width: 113px;
  height: 41px;
  gap: 23px;
  border-radius: 6px;
  padding: 10px 10px 0px 40px;
}

.latestorder {
  width: fit-content;
  margin-top: 2%;
  font-family: "Lato";
  margin-left: 1%;
  color: #292929;
  font-weight: 700;
  font-size: 16px;
}
.Addproducts {
  width: fit-content;
  margin-top: 2%;
  margin-left: 2%;
  color: #292929;
  font-weight: 700;
  font-size: 16px;
  height: 58%;
}
.Addproducts p {
  font-weight: 700;
  font-size: 20px;
  font-family: "Lato";
}
#Table {
  margin-top: 2%;
  margin-left: 1%;
  border-collapse: collapse;
  width: 98%;
}

#Table td {
  padding: 10px 24px;
}
#Table1 {
  margin-top: 3%;
  margin-left: 1%;
  border-collapse: collapse;
  width: 98%;
}
#Table1 td {
  font-size: 14px !important;
  font-weight: 400 !important;
  font-family: "Lato";
  text-align: left;
  padding: 14px 14px 14px 24px;
}
#Table1 th {
  /* background: #f2f4ff; */
  font-size: 14px !important;
  font-weight: 500 !important;
  text-align: left;
  font-family: "Lato";
}

.main-parent2 {
  display: flex;
  gap: 3px;
  align-items: center;
}
.iphone2 {
  white-space: nowrap;
}
.main-parent3 {
  display: flex;
}
.delete {
  cursor: pointer;
}
.delete:hover
{
  border-radius: 10px;
  background-color:#e4e7eb;
}
.edit {
  cursor: pointer;
}
.edit:hover{
  border-radius: 10px;
  background-color:#e4e7eb;
}
th {
  /* background: #f2f4ff; */
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #292929;
  text-align: left;
  padding: 4px 24px 10px 24px;
  font-family: "Lato";
  border-bottom: 1px solid #eaecf0;
}
td {
  font-size: 14px !important;
  font-weight: 400 !important;
  font-family: "Lato";
  color: #292929;
  text-align: left;
  border-bottom: 1px solid #eaecf0;
}
#actionheader {
  color: white;
}

.subContent1 {
  position: absolute;
  padding: 10px 0px 10px 0px;
  top: 250px;
  right: 50px;
  width: 200px;
  height: 100px;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #eaecf0;
  /* top:223px; */
}
.subContent2 {
  position: absolute;
  padding: 10px 0px 10px 0px;
  top: 310px;
  right: 50px;
  width: 200px;
  height: 100px;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #eaecf0;
}
.subContent3 {
  position: absolute;
  padding: 10px 0px 10px 0px;
  top: 370px;
  right: 50px;
  width: 200px;
  height: 100px;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #eaecf0;
}
.subContent4 {
  position: absolute;
  padding: 10px 0px 10px 0px;
  top: 430px;
  right: 50px;
  width: 200px;
  height: 100px;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #eaecf0;
}
.subContent5 {
  position: absolute;
  padding: 10px 0px 10px 0px;
  top: 490px;
  right: 50px;
  width: 200px;
  height: 100px;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #eaecf0;
}
.subContent6 {
  position: absolute;
  padding: 10px 0px 10px 0px;
  top: 550px;
  right: 50px;
  width: 200px;
  height: 100px;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #eaecf0;
}
.subContent7 {
  position: absolute;
  padding: 10px 0px 10px 0px;
  top: 610px;
  right: 50px;
  width: 200px;
  height: 100px;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #eaecf0;
}
.subContent8 {
  position: absolute;
  padding: 10px 0px 10px 0px;
  top: 670px;
  right: 50px;
  width: 200px;
  height: 100px;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #eaecf0;
}
.subContent9 {
  position: absolute;
  padding: 10px 0px 10px 0px;
  top: 730px;
  right: 50px;
  width: 200px;
  height: 100px;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #eaecf0;
}
.subContent10 {
  position: absolute;
  padding: 10px 0px 10px 0px;
  top: 790px;
  right: 50px;
  width: 200px;
  height: 100px;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #eaecf0;
}
.subContent11 {
  position: absolute;
  padding: 10px 0px 10px 0px;
  top: 145px;
  right: 80px;
  width: 200px;
  height: 100px;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #eaecf0;
}
.subContent12 {
  position: absolute;
  padding: 10px 0px 10px 0px;
  top: 182px;
  right: 80px;
  width: 200px;
  height: 100px;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #eaecf0;
}
.subContent13 {
  position: absolute;
  padding: 10px 0px 10px 0px;
  top: 220px;
  right: 80px;
  width: 200px;
  height: 100px;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #eaecf0;
}
.subContent14 {
  position: absolute;
  padding: 10px 0px 10px 0px;
  top: 255px;
  right: 80px;
  width: 200px;
  height: 100px;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #eaecf0;
}
.subContent15 {
  position: absolute;
  padding: 10px 0px 10px 0px;
  top: 295px;
  right: 80px;
  width: 200px;
  height: 100px;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #eaecf0;
}
.subContent16 {
  position: absolute;
  padding: 10px 0px 10px 0px;
  top: 330px;
  right: 80px;
  width: 200px;
  height: 100px;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #eaecf0;
}

.main-parent {
  display: flex;
  gap: 3px;
  align-items: center;
  /* padding-left: 70px; */
}
.main-parent1 {
  display: flex;
  align-items: center;

  /* padding-left: 40px; */
}
.iphone {
  white-space: nowrap;
}
.iphone1 {
  white-space: nowrap;
}

#border1 {
  border-color: #e4e7eb;
  border-style: solid;

  margin-top: 1%;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-width: 1px 0px 1px 0px;
}
#border2 {
  border-color: #e4e7eb;
  border-style: solid;
  margin-top: 1%;

  border-bottom: none;
  border-left: none;
  border-right: none;
  border-width: 1px 0px 1px 0px;
}
#border3 {
  border-color: #e4e7eb;
  border-style: solid;
  margin-top: 1%;

  border-bottom: none;
  border-left: none;
  border-right: none;
  border-width: 1px 0px 1px 0px;
}
#pborder1 {
  border-color: #e4e7eb;
  border-style: solid;
  margin-top: 1%;

  border-bottom: none;
  border-left: none;
  border-right: none;
  border-width: 1px 0px 1px 0px;
}
#pborder2 {
  border-color: #e4e7eb;
  border-style: solid;
  margin-top: 1%;

  border-bottom: none;
  border-left: none;
  border-right: none;
  border-width: 1px 0px 1px 0px;
}
#pborder3 {
  border-color: #e4e7eb;
  border-style: solid;
  margin-top: 1%;

  border-bottom: none;
  border-left: none;
  border-right: none;
  border-width: 1px 0px 1px 0px;
}
#pborder4 {
  border-color: #e4e7eb;
  border-style: solid;
  margin-top: 1%;

  border-bottom: none;
  border-left: none;
  border-right: none;
  border-width: 1px 0px 1px 0px;
}
#pborder5 {
  border-color: #e4e7eb;
  border-style: solid;
  margin-top: 1%;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-width: 1px 0px 1px 0px;
}
#pborder6 {
  border-color: #e4e7eb;
  border-style: solid;
  margin-top: 1%;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-width: 1px 0px 1px 0px;
}

.chartBox {
  position: absolute;
  width: 700px !important;
  height: 220px !important;
  padding: 20px;
  border-radius: 5px;
  left: 32px;
  top: 190px;
  background: #ffffff;
}
/* #myChart
{
  width:340px  !important;
  height:200px  !important;
} */

#progressChart {
  position: absolute;
  right: 0px;
  top: 190px;
  height: 220px;
  border-radius: 5px;
  background: #ffffff;
}

/* Apply responsive styles for tablets */
@media screen and (max-width: 768px) {
  .main-top h1 {
    font-size: 22px;
    font-weight: 700;
    color: #292929;
    font-family: "Lato";
  }
  .main {
    position: absolute;
    height: fit-content;
    left: 16%;
    top: 44px;
    display: none;
  }
  .main1 {
    margin-top: 40px;
    width: 60%;
    height: 30px;
    left: 18%;
    display: none;
  }

  #pfirst {
    width: 210px;
    font-family: "Lato";
    height: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    margin-top: 1%;
    margin-left: 8px;
  }
  #poldpassword,
  #pnewpassword,
  #prepeatnewpassword,
  #ptele,
  #pregion {
    transform: translateX(15px);
    width: 160%;
  }
  #pimage {
    transform: translateX(-50px);
  }
  #first,
  #second,
  #third {
    width: 210px;
    font-family: "Lato";
    height: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    margin-top: 1%;
    margin-left: 5px;
  }

  #oldpassword,
  #newpassword,
  #repeatnewpassword {
    transform: translateX(15px);
    width: 160%;
  }
  .eye,
  .eye1,
  .eye2 {
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(120%, -30%);
    cursor: pointer;
  }
  nav {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 215px;
    left: 0;
    background: #fff;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }
  .main2 {
    /* position: fixed; */
    margin-top: 40px;
    width: 60%;
    height: 30px;
    left: 18%;
    display: none;
  }
  #cancel2 {
    margin-left: 35%;
    padding: 1px;
    font-family: "lato";
  }
  #productname {
    margin-top: 2%;
    width: 380px;
    height: 30px;
  }
  #textarea {
    margin-top: 1%;
    width: 380px;
  }
  #textarea1 {
    height: 60px;
    margin-top: 1%;
    width: 380px;
  }
  #productprice {
    height: 30px;
    width: 186px;
    margin-top: 2%;
  }
  #ordernum {
    height: 30px;
    width: 138px;
    margin-top: 3%;
  }
  #productprice1 {
    height: 30px;
    width: 380px;
    margin-top: 1%;
  }
  .main-body2 {
    margin-top: 111px;
    margin-bottom: 1%;
    width: 1667px;
    height: 120%;
    background: #fff;
    display: none;
  }
  .main-body1 {
    overflow: scroll;
  }
}
