*
{
    margin: 0;
    padding: 0;
    outline:none;
    border:none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body
{
    background:#c3c6d1;
}
.container
{
    display: flex;
    
    
}
nav{
    position: relative;
    top:0;
    bottom: 0;
    height: 100vh;
    left: 0;
    background: #fff;
    width: 250px;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}
.logo
{
    text-align: center;
    display: flex;
    margin: 10px 0 0 0px;
}
.logo span{
    font-weight: bold;
    padding-left: 2px;
    font-size: 18px;
}
a{
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 10px;

}
/* nav .fa-solid 
{
    position: relative;
    width: 70px;
    height: 40px;
    top:14px;
    font-size: 20px;
    text-align: center;
} */

.fa-solid 
{
    height:20px;
    width:20px;
}
.fa-regular
{
    height:20px;
    width:20px; 
}

.nav-item
{
    position: relative;
    top:0px;
    margin-left: 10px;
    
    
}
#dashlogo
{
    color: blue;
}
a:hover
{
    background:#eee;
}
.logout
{
    position:absolute;
    bottom: 0;
}
.setting
{
    position: absolute;
    bottom: 35px;
}
.main
{   
    width: fit-content;
    height: fit-content;
    margin-left:1% ;
    margin-top: 3%;
}
  .main-top h1{

    font-size: medium;
    font-weight: lighter;
  }
  
   .main-body
   {
        margin-top:6%;
        margin-right:1%;
        margin-left: 1%;
        margin-bottom: 1%;
        background: #fff;
        
   }
  .anchortag
  {
    display:flex;
    padding: 10px;
    width: 30%;
    margin-left: 1%;
    
  }
  #psw
  {
    font-size: medium;
    font-weight:bold;
    margin-left: 1%;
  }
    
 