* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  background:#FAFAFA;
}
.container {
  display: flex;

}
nav {
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  background: #fff;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);


}
.logo {
  text-align: center;
  display: flex;
  margin: 10px 0 0 0px;
}
.logo span {
  font-weight: bold;
  padding-left: 2px;
  font-size: 18px;
}
a {
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  display: table;
  width: 260px;
  padding: 10px;
}
/* nav .fa-solid 
{
    position: relative;
    width: 70px;
    height: 40px;
    top:14px;
    font-size: 20px;
    text-align: center;
} */

.fa-regular {
  height: 20px;
  width: 20px;
}

.nav-item {
  position: relative;
  top: 0px;
  margin-left: 10px;
}
#dashlogo {
  color: blue;
}

   .icons
   {
    margin-left:8%;
   }
a:hover {
  background: #eee;
}
.transaction:hover {
  color: white;
  background-color: blue;
  border-radius: 4px;
  margin-left: 2%;
  width: 50%;
}
.logout {
  position: absolute;
  bottom: 0;
}

.logout:hover {
  color: white;
  background-color: blue;
  border-radius: 8px;
  margin-left: 2%;
  width: 50%;
}
.setting {
  position: absolute;
  bottom: 35px;
}
.setting:hover {
  color: white;
  background-color: blue;
  border-radius: 8px;
  margin-left: 2%;
  width: 50%;
}
.main {
  position: absolute;
  height: fit-content;
  margin-left: 22%;
  margin-top: 2%;
}
.main-top h1 {
  font-size: large;
  font-weight: lighter;
  color: #292929;
}

.main-body {
  margin-top: 5%;
  margin-left: 1%;
  margin-bottom: 1%;
  width: 78%;
  background: #fff;
}
.anchortag {
  display: flex;
  padding: 10px;
  width: 40%;
  margin-left: 1%;
}

.anchortag a:hover {
  color: blue;
  border-radius: 4px;
}

#psw {
  font-size: medium;
  font-weight: bold;
  margin-left: 1%;
  width: fit-content;
}
form {
  margin-top: 4%;
  margin-left: 1%;
  height: 50%;
  width: 99%;
}

#newpassword
{
  margin-top: 10%;
}
#repeatnewpassword {
  
  margin-top:8%;
}
#first
{
  padding-top: 2%;
}

#second {

  padding-top: 8%;
  
}
#third {

  padding-top: 8%;
}

input[type="password"] {
  border: 1px solid #c3c6d1;
  border-radius: 6px;

}
.input-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.input-wrapper {
  position: relative;
}
.input-wrapper input {
  padding: 14px 40px 14px 20px;
  height:47px;
  width: 400px;
}


.eye {
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.eye1 {
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(30%);
}
.eye2{
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(20%);
}

input[type="submit"] {
  border: 1px solid #c3c6d1;
  margin-top: 3%;
  height: 12%;
  width: 8%;
  border-radius: 6px;
  background-color: white;
}
#cancel:hover {
  background-color: blue;
  color: white;
}

#save:hover {
  background-color: blue;
  color: white;
}
#border1 {
  border-color: #c3c6d1;
  border-style: solid;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin-top: 2%;
}
#border2 {
  border-color: #c3c6d1;
  border-style: solid;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin-top: 2%;
}
#border3 {
  border-color: #c3c6d1;
  border-style: solid;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin-top: 3%;
}
