* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  background: #fafafa;
}
.container {
  display: flex;
}
nav {
  position:fixed;
  top: 0;
  bottom: 0;
  height:100vh;
  width: 200px;
  left: 0;
  background: #fff;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.logo {
  text-align: center;
  display: flex;
  margin: 10px 0 0 0px;
}
.logo span {
  font-weight: bold;
  padding-left: 2px;
  font-size: 18px;
}
a {
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  display: table;
  width: 200px;
  padding: 10px;
}
/* nav .fa-solid 
{
    position: relative;
    width: 70px;
    height: 40px;
    top:14px;
    font-size: 20px;
    text-align: center;
} */

.fa-regular {
  height: 20px;
  width: 20px;
}

 .nav-item {
 
  padding-left: 12px;
 
  
} 
#dashlogo {

  color:#475BE8;
}

.icons {
  margin-left: 8%;
  
}
a:hover {
  background: #eee;
   
  
}

.transaction:hover {
  color: white;
  background-color:#475BE8;
  border-radius: 12px;
  margin-left: 1%;
  width: 75%;
  
}
#newproduct
{
  background-color: #475BE8;
  color: white;
}


.logout {
  position: absolute;
  bottom: 0;
}

.logout:hover {
  color: white;
  background-color:#475BE8;
  border-radius: 12px;
  width: 75%;
  margin-left: 1%;
}
.setting {
  position: absolute;
  bottom: 35px;
}
.setting:hover {
  color: white;
  background-color:#475BE8;
  border-radius: 12px;
  width: 75%;
  margin-left: 1%;
}
.main {
  position: absolute;
  height: fit-content;
  margin-left: 16%;
  top: 44px;
  display: none;
}
.main-top h1 {
  font-size: 22px;
  font-weight: 700;
  color: #292929;
  font-family: Lato;
}

.main1 {

  position: absolute;
  margin-top: 40px;
   width:81%;
   height: 30px;
  margin-left: 16%;
  display: none;
  
}
.main-top1 h1 {
  font-size:22px;
  font-weight:700;
  padding-top:8px;
  color: #292929;
   font-family: Lato;

}
.main2 {

  position: absolute;
  margin-top: 40px;
   width:81%;
   height: 30px;
   margin-left: 16%;
  display: none;
  
}
.main-top2 h1 {
  font-size:22px;
  font-weight:700;
  padding-top:8px;
  color: #292929;
  font-family: Lato;

}
.main3 {

  position: absolute;
  margin-top: 5px;
   width:81%;
   height: 30px;
   margin-left: 18%;
  
  
}
.main-top3 h1 {
  font-size:22px;
  font-weight:700;
  padding-top:8px;
   font-family: Lato;
  color: #292929;

}
.cardcontainer{
  display:flex;
  justify-content:space-between;
  margin-top: 20px;

}
.cardcontainer .card1{

    width:270px;
    height: 120px;
    background: #fff;
    border-radius: 5px;
    padding:20px;
    
    
  
}
.graph
{
  float: right;
  transform: translateY(-75px);
}
.cardcontainer .card1 p{

    padding-top: 8px;
    color: #525252;
    font-size: 14px;
    font-weight:700;
}
#amount
{
  font-size: 24px;
  font-weight: 700;
}

.bagraph
{
  display: flex;
    transform: translateY(-30%);


}
.line
{

  padding-top: 56px;
  transform:translateY(17%);
  width:34%;
}
.bar
{
  transform:translateY(17%);

  
}
.latestorder1
{
  width:fit-content;
  margin-top: 2%;
  margin-left: 1%;
  
}
.latestorder1 p{
 color: #292929;
  font-weight: 700;
  font-size: 16px;
  font-family: lato;
}

.main-body{
  
  margin-top:111px;
  margin-left:210px;
  margin-bottom: 1%;
  width: 1667px;
  height:817px;
  background: #fff;
  display: none;
  
}
.main-body1{
  margin-top:111px;
  margin-left:210px;
  margin-bottom: 1%;
  width:1667px;
  background:#fff;
  display: none;
  
}
.main-body2{
  margin-top: 111px;
  margin-left:210px;
  margin-bottom: 1%;
  width: 1667px;
  height:120%;
  background:#fff;
  display: none;
  
}
.main-body3
{
  
  width: 100%;
  background:#fff;

  transform: translateY(-50%);
  
}


.anchortag {
  display: flex;
  padding: 10px;
  width: 486px;
  margin-top: 1%;
  text-align: center;
 
  
  
}

.anchortag :hover {
  color: #475BE8;
  border-radius: 4px;
}
#pro
{
    color: #475BE8;
    background: #eee;
    
     
}


#psw {
  font-size: 20px;
  font-weight: bold;
  margin-left: 2%;
   font-family: Lato;
  font-weight: 700;
  line-height: 26.38px;
  width: 86px;
  display: none;
  color:#292929;
}
#psw1 {
  font-size: 20px;
  font-weight: bold;
  margin-left: 2%;
  font-weight: 700;
  line-height: 26.38px;
   font-family: Lato;
  width: 86px;
  display: none;
  color:#292929
}

#passwordprofile {
  margin-top: 2%;
  margin-left: 1%;
  height: 50%;
  width: 98%;
  display: none;
}
#profileform {
  margin-top: 2%;
  margin-left: 1%;
  height: 70%;
  width: 98%;

}

#newpassword {
  margin-top:4%;
  
  
}
#repeatnewpassword {
  margin-top: 4%;
  
}


#pnewpassword {
  margin-top: 4%;

}
#prepeatnewpassword {
  margin-top: 4%;

}
#ptele {
  margin-top: 4%;
  
}
#pregion {
  margin-top: 4%;
  
}
#pimage {

  transform: translateX(-30%);
}
#first {
  width: 210px;
   font-family: Lato;
  height: 19px;
  font-weight: 400;
  font-size:16px;
  line-height: 19.2px;
  margin-top: 1%;
  margin-left: 12px;
}

#second {
  width: 210px;
   font-family: Lato;
  height: 19px;
  font-weight: 400;
  font-size:16px;
  line-height: 19.2px;
  margin-top: 4%;
    margin-left: 12px;
}
#third {
   width: 210px;
    font-family: Lato;
  height: 19px;
  font-weight: 400;
  font-size:16px;
  line-height: 19.2px;
  margin-top: 4%;
    margin-left:12px;
}
#pfirst {
  width: 210px;
   font-family: Lato;
  height: 19px;
  font-weight: 400;
  font-size:16px;
  line-height: 19.2px;
  margin-top: 1%;
   margin-left:12px;
}

#psecond {
  width: 210px;
  height: 19px;
   font-family: Lato;
  font-weight: 400;
  font-size:16px;
   margin-top: 4%;
  line-height: 19.2px;
   margin-left:12px;
}
#pthird {
  width: 210px;
  height: 19px;
  font-weight: 400;
   font-family: Lato;
  font-size:16px;
   margin-top: 4%;
  line-height: 19.2px;
   margin-left:12px;
}
#pfourth {
  width: 210px;
  height: 19px;
  font-weight: 400;
   font-family: Lato;
  font-size:16px;
   margin-top: 4%;
  line-height: 19.2px;
   margin-left:12px;
}
#pfifth {
  width: 210px;
  height: 19px;
  font-weight: 400;
   font-family: Lato;
  font-size:16px;
  margin-top: 4%;
  line-height: 19.2px;
   margin-left:12px;
}
#psixth {
  width: 210px;
  height: 19px;
  font-weight: 400;
  font-size:16px;
   font-family: Lato;
  margin-top: 2%;
 line-height: 19.2px;
  margin-left:12px;

}
img {
  border-radius: 60%;
}

input[type="password"] {
  border: 1px solid #c3c6d1;
  border-radius: 6px;
}
input[type="text"] {
  border: 1px solid #c3c6d1;
  border-radius: 6px;
  padding-left: 18px;
}
input[type="email"] {
  border: 1px solid #c3c6d1;
  border-radius: 6px;
}
input[type="tel"] {
  border: 1px solid #c3c6d1;
  border-radius: 6px;
}
input[type="text-area"] {
  border: 1px solid #c3c6d1;
  border-radius: 6px;
  height:100px;
  width:500px;
  padding-left: 18px;
}
input[type="text-area"]::placeholder
{
  position:absolute;
  
}
input[type="text"]::placeholder
{
  position:absolute;
  
}
#productname
{
  margin-top: 2%;
  width:500px;
  height:30px;
}
#name
{
  font-weight: 400;
  font-size: 16px;
  font-family: Lato;
  margin-top: 2%;
  color:#000000;
}
#des
{
  font-weight: 400;
  font-size: 16px;
  font-family: Lato;
  margin-top: 2%;
  color:#000000;
}
#short
{
  font-weight: 400;
  font-size: 16px;
  font-family: Lato;
  margin-top: 3%;
  color:#000000;
}
#textarea1
{
  height:60px;
  margin-top: 1%;
  
}
#textarea
{
  margin-top: 1%;
}
#price
{

  font-weight: 700;
  font-size: 20px;
  font-family: Lato;
  color:#292929;
  margin-top: 2%;
  margin-left: 2%;
  width:fit-content;
}
.pricing
{
  display: flex;
  gap:2%;
  width:48%;
  margin-top: 2%;
  margin-left: 2%;
 
  height:10%;
}
#productprice
{
  height:30px;
  width:245px;
  margin-top: 2%;
}
#subpr,#oldpr
{
  font-weight: 400;
  font-size: 16px;
  font-family: Lato;
  color:#000000;
}
.invent
{
  display: flex;
  gap:2%;
  width:48%;
  margin-top: 2%;
  margin-left: 2%;
  height:10%;
}
#sku
{
  font-weight: 400;
  font-size: 16px;
     font-family: Lato;
  color:#000000;
  
}
.imagecontainer{
  width: 49%;
  margin-left: 2%;
}

.phoneimage
{
  display: flex;
  gap:5%;
  width:48%;
  margin-top: 2%;
  height:10%;
}
.phoneimage1
{
  display: flex;
  gap:5%;
  width:48%;
  margin-top: 1%;
  height:10%;
}
#ordernum
{
  height:30px;
  width:189px;
  margin-top:3%;
  
}
#img1
{
  font-weight: 400;
  font-size: 16px;
     font-family: Lato;
  color:#000000;
}
#myfile:hover
{
  background: transparent;
}
.searchenginecontainer
{
  display: flex;
  flex-direction: column;
  width:49%;
  margin-left:2%;
}
.pagetitle
{
  margin-top: 4%;
}
#productprice1
{
  height:30px;
  width:500px;
  margin-top: 1%;
}
.metades
{
  margin-top: 4%;
}

.input-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  
}
.input-container1 {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.input-container2 {
  display: flex;
  gap: 25%;
  width: 60%;
  margin-top: 1%;
}
.input-wrapper {
  position: relative;
  
}

.input-wrapper input {
  padding: 14px 20px 14px 20px;
  height: 47px;
  width: 400px;
  gap:10px;
  border-radius:6px;
}

.eye {
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-10%);
  cursor: pointer;
}
.eye1 {
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(20%);
  cursor: pointer;
}
.eye2 {
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(20%);
  cursor: pointer;
}

input[type="submit"] {
  border: 1px solid #c3c6d1;
  margin-top: 3%;
  height: 41px;
  width: 113px;
  border-radius: 6px;
  background-color: white;
  padding:10px 40px;
}
input[type="submit"] {
  border: 1px solid #c3c6d1;
  margin-top: 3%;
  height: 41px;
  width: 128px;
  border-radius: 6px;
  background-color: white;
  padding:10px 40px;
}

input[type="button"] {
  border: 1px solid #c3c6d1;
  width: 133px;
  height:41px;
  gap:23px;
  border-radius: 6px;
  background-color: white;
  transform: translatex(-10%);
  transform: translatey(1%);
  padding:10px 20px 10px 20px;
}
#cancel:hover {
  background-color:#475BE8;
  color: white;
}

#save:hover {
  background-color:#475BE8;
  color: white;
}
#save
{
   background-color:#475BE8;
  color: white;
}

#cancel1:hover {
  background-color:#475BE8;
  color: white;
}

#save1:hover {
  background-color:#475BE8;
  color: white;
}
 #save1
 {
   background-color:#475BE8;
   color: white;
 }
#cancel2
{
  
  margin-left: 24%;
 

}
#save2
{
  margin-left: 1%;
   background-color:#475BE8;
  color: white;

}
#cancel2:hover {
  background-color:#475BE8;
  color: white;
}

#save2:hover {
  background-color:#475BE8;
  color: white;
}
.button
{
  width:30%;
  margin-left: 30%;
}
#newproduct
{
   position: absolute;
    right: 0;
    top:0;
  
    
}
#newproduct:hover
{
  background-color:#475BE8;
  color: white;
    
}
.latestorder
{
  width:fit-content;
  margin-top: 2%;
  font-family: Lato;
  margin-left: 1%;
  color: #292929;
  font-weight: 700;
  font-size: 16px;

}
 .Addproducts{

  width:fit-content;
  margin-top: 2%;
  margin-left: 2%;
  color: #292929;
  font-weight: 700;
  font-size: 16px;
  height:58%;
 }
 .Addproducts p{
  font-weight: 700;
  font-size: 20px;
  font-family: lato;
 }
#Table
{
  
  margin-top: 1%;
  margin-left: 1%;
  border-collapse: collapse;
  
}
th{
  background: #F2F4FF;
  font-size:16px;
  font-weight: 400;
  color:#292929;
  text-align:left;
  padding:8px; 
  font-weight: 400;
  font-size: 16px;
  font-family: lato;

}
td{
  font-size: 14px;
  font-weight: 500;
  font-family: lato;
  color:#292929;
  text-align:left;
  padding-top: 1%;
 
}
.iphone
{
  width: fit-content;
  float:right;
  margin-top: 4%;
  transform: translatex(-160%);
}
.iphone1
{
  width: fit-content;
  float:right;
  margin-top: 4%;
  transform: translatex(-175%);
}
.iphone2
{
  width: fit-content;
  float:right;
  margin-top: 4%;
  transform: translatex(-180%);
}
.iphone3
{
  width: fit-content;
  float:right;
  margin-top: 4%;
  transform: translatex(-138%);
}
.iphone4
{
  width: fit-content;
  float:right;
  margin-top: 4%;
  transform: translatex(-240%);
}
.iphone5
{
  width: fit-content;
  float:right;
  margin-top: 4%;
  transform: translatex(-360%);
  
}
.iphone6
{
  width: fit-content;
  float:right;
  margin-top: 4%;
  transform: translatex(-155%);
  
}
.iphone7
{
  width: fit-content;
  float:right;
  margin-top: 4%;
  transform: translatex(-170%);
  
}
.iphone8
{
  width: fit-content;
  float:right;
  margin-top: 4%;
  transform: translatex(-175%);
  
}
.iphone9
{
  width: fit-content;
  float:right;
  margin-top: 4%;
  transform: translatex(-135%);
  
}
Table img{
  margin-left: 2%;
}
Table #dot
{
  transform: translateX(12%);
}
Table #dot1
{
  transform: translateX(8%);
}


#border1 {
  border-color:#E4E7EB;
  border-style: solid;
  padding:20px, 837px, 20px, 0px;
  width: Hug (1,776px);
  height:Hug (84px);
  gap:146px;
  margin-top: 1%;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-width: 1px 0px 1px 0px;

}
#border2 {
  border-color:#E4E7EB;
  border-style: solid;
   margin-top: 1%;
  padding:20px, 837px, 20px, 0px;
  width: Hug (1,776px);
  height:Hug (84px);
  gap:146px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-width: 1px 0px 1px 0px;

}
#border3 {
  border-color:#E4E7EB;
  border-style: solid;
   margin-top: 1%;
  padding:20px, 837px, 20px, 0px;
  width: Hug (1,776px);
  height:Hug (84px);
  gap:146px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-width: 1px 0px 1px 0px;

}
#pborder1 {
  border-color:#E4E7EB;
  border-style: solid;
   margin-top: 1%;
  padding:20px, 837px, 20px, 0px;
  width: Hug (1,776px);
  height:Hug (84px);
  gap:146px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-width: 1px 0px 1px 0px;
}
#pborder2 {
  border-color:#E4E7EB;
  border-style: solid;
   margin-top: 1%;
  padding:20px, 837px, 20px, 0px;
  width: Hug (1,776px);
  height:Hug (84px);
  gap:146px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-width: 1px 0px 1px 0px; 
}
#pborder3 {
  border-color:#E4E7EB;
  border-style: solid;
   margin-top: 1%;
  padding:20px, 837px, 20px, 0px;
  width: Hug (1,776px);
  height:Hug (84px);
  gap:146px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-width: 1px 0px 1px 0px;
}
#pborder4 {
  border-color:#E4E7EB;
  border-style: solid;
  margin-top: 1%;
  padding:20px, 837px, 20px, 0px;
  width: Hug (1,776px);
  height:Hug (84px);
  gap:146px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-width: 1px 0px 1px 0px;
}
#pborder5 {
 border-color:#E4E7EB;
  border-style: solid;
  margin-top: 1%;
  padding:20px, 837px, 20px, 0px;
  width: Hug (1,776px);
  height:Hug (84px);
  gap:146px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-width: 1px 0px 1px 0px;
}
#pborder6 {
  border-color:#E4E7EB;
  border-style: solid;
  margin-top: 1%;
  padding:20px, 837px, 20px, 0px;
  width: Hug (1,776px);
  height:Hug (84px);
  gap:146px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-width: 1px 0px 1px 0px;
}
